//Variables & Mixins

$green: #53A764;
$tablet:"min-width:640px";
$desktop: "min-width: 960px";

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//Styles

body {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

main {
    display: none;
}

.container {
    @extend %clearfix;
    width: 100%;
    margin: auto;
    max-width: 960px;
    display: block;
    position: relative;
}

header {
    @extend %clearfix;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 4px 8px 0;
    background: white;
    box-shadow: 0px 16px 32px 16px rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 100;

    .header-container {
        @extend %clearfix;
        width: 100%;
        max-width: 960px;
        margin: auto;
    }

    img.header-logo {
        margin-top: 14px;
        width: calc(100% - 160px);
        float: left;
        @media($tablet) {
            margin-top: 8px;
            margin-left: 8px;
            width: 240px;
            max-width: none;
        }
    }

    .header-cta {
        width: 160px;
        float: right;
        padding: 10px 0 8px 24px;
        box-sizing: border-box;

        a.header-cta-button {
            width: 100%;
            padding: 5px;
            letter-spacing: .5px;
            display: block;
            box-sizing: border-box;
            background: $green;
            text-align: center;
            color: white;
            border-radius: 4px;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 19px;
        }

        .header-cta-caption {
            margin-top: 4px;
            font-size: 12px;
            width: 100%;
            text-align: center;

            a {
                font-weight: bold;
                color: $green;
                text-decoration: none;
            }

            @media($tablet) {
                font-size: 13px;
            }
        }
    }
}



section.hero {
    @extend %clearfix;
    width: 100%;
    display: block;
    margin: 100px auto 0;
    padding: 12px;
    box-sizing: border-box;
    position: relative;

    @media($tablet) {
        margin: auto;
        padding: 60px 12px;
        background: url(//images.botanicchoice.com/acv-lp/salad-long.png);
        background-size: auto 100%;
        background-position-y: 50%;
        background-position-x: calc(50% - 25vw);
        background-repeat: no-repeat;
    }

    @media($desktop) {
        margin: auto;
        padding: 120px 12px;
        background: url(//images.botanicchoice.com/acv-lp/salad-long.png);
        background-size: auto 100%;
        background-position-y: 50%;
        background-position-x: calc(50% - 220px);
        background-repeat: no-repeat;
    }

    .hero-caption {
        width: 100%;
        font-size: 31px;
        text-align: center;
        color: $green;
        line-height: 1.3;

        @media($tablet) {
            text-align: left;
            width: 50%;
            display: inline-block;
            margin-top: 96px;
            font-size: 36px;
        }
    }

    .hero-img {
        width: 40%;
        max-width: 160px;
        display: block;
        margin: 24px auto;

        @media($tablet) {
            float: left;
            margin-right: 60px;
            margin-left: calc(50% - 220px);
        }
    }

    a.hero-cta {
        display: block;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        padding: 12px;
        background: $green;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 19px;
        border-radius: 4px;
        margin: auto;
        letter-spacing: .35px;

        @media($tablet) {
            width: 320px;
            margin-top: 24px;
            display: inline-block;
        }
    }
}

section.slim {
    width: 100%;
    display: block;
    margin: 48px auto 0;
    padding: 12px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);

    .slim-caption {
        font-size: 31px;
        line-height: 1.2;
        color: $green;
        padding-left: 16px;
        white-space: nowrap;

        .slim-top {}

        .slim-med {
            text-indent: 28px;

        }

        .slim-med-italic {
            font-size: 37px;
            text-indent: 28px;
            font-style: italic;
        }

        .slim-bottom {
            text-indent: 92px;
            font-style: italic;
            font-size: 36px;
        }

        @media($tablet) {
            display: inline-block;
            width: 50%;
            zoom: 1.25;
            padding-left: 24px;
            box-sizing: border-box;
            white-space: nowrap;
        }
    }

    img.slim-img {
        width: 92%;
        max-width: 320px;
        display: block;
        margin: 24px auto;

        @media($tablet) {
            float: right;
            width: 45%;
            max-width: none;
            margin-top: 92px;
        }
    }

    img.slim-img-var {
        width: 92%;
        max-width: 320px;
        display: block;
        margin: 24px auto;

        @media($tablet) {
            float: right;
            width: 50%;
            max-width: none;
            margin-top: 92px;
        }
    }

    .slim-list {
        display: block;
        box-sizing: border-box;
        padding: 12px;
        line-height: 1.6;
        font-size: 16px;

        @media($tablet) {
            display: inline-block;
            width: 50%;
            margin-top: 36px;
        }

        .slim-list-item {
            display: block;
            box-sizing: border-box;
            padding: 12px;
            border-top: 1px solid rgba(0, 0, 0, .12);

            &:nth-of-type(1) {
                border: none;
            }
        }
    }
}

section.quote {
    width: 100%;
    display: block;
    margin: 48px auto 0;
    padding: 24px 36px;
    box-sizing: border-box;
    color: white;
    background: $green;
    font-size: 16px;

    .quote-small {
        @media($tablet) {
            font-size: 21px;
            line-height: 1.6;
        }
    }

    .quote-large {
        margin-top: 8px;
        font-size: 24px;
        font-style: italic;
        //text-decoration: underline

        @media($tablet) {
            font-size: 27px;
            text-align: right;
        }
    }

    .quote-author {
        box-sizing: border-box;
        margin-top: 24px;
        padding: 8px 16px;
        border-left: 6px solid rgba(255, 255, 255, .72);
    }
}

section.label {
    @extend %clearfix;
    width: 100%;
    display: block;
    margin: 24px auto 0;
    padding: 24px 36px;
    box-sizing: border-box;
    font-size: 16px;
    position: relative;

    .label-container {
        @extend %clearfix;
        width: 100%;

        @media ($tablet) {
            float: left;
            width: 40%;
        }
    }

    .label-img {
        width: 80%;
        display: block;
        margin: 24px auto;

        @media($tablet) {
            float:left;
            width: 70%;
        }
    }

    .label-title {
        font-size: 28px;
        line-height: 1.2;
        font-weight: bold;
        color: $green;
        letter-spacing: .25px;
        position: relative;

        span {
            font-weight: normal;
            font-style: italic;
        }

        @media($tablet) {
            margin-top: 0px;
            float: left;
            width: 100%;
            zoom: 1.25;
        }

        @media ($desktop) {
            //margin-top: 72px;
        }
    }

    .label-caption {
        line-height: 1.6;
        margin-top: 12px;

        @media($tablet) {
            float: left;
            width: 100%;
        }
    }

    

    .label-table {
        display: inline-block;
        width: 100%;
        margin-top: 48px;
        @media ($tablet) {
            width: 50%;
            float: right;
            margin-top: 0;
        }

        .label-table-header {
            @extend %clearfix;
            font-weight: bold;
            padding: 6px 0;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(0, 0, 0, 0.24);

            span:nth-of-type(1) {
                float: left;
            }

            span:nth-of-type(2) {
                float: right;
            }
        }

        .label-table-item {
            @extend %clearfix;
            width: 100%;
            box-sizing: border-box;
            margin-top: 8px;
            padding: 2px 0 16px;
            border-bottom: 1px solid rgba(0, 0, 0, .08);

            &:last-of-type {
                border: none;
            }

            .label-table-item-name {
                width: 60%;
                float: left;
            }

            .label-table-item-subfield {
                width: 60%;
                float: left;
                opacity: .64;
            }

            .label-table-item-amount {
                width: 40%;
                float: right;
                text-align: right;
            }
        }
    }
}

section.testimonials {
    @extend %clearfix;
    width: 100%;
    display: block;
    margin: 48px auto 0;
    padding: 24px 36px;
    box-sizing: border-box;
    color: white;
    background: $green;
    font-size: 16px;

    .testimonial {
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, .36);
        box-sizing: border-box;
        padding: 0 0 16px;
        margin-bottom: 24px;

        @media($tablet) {
            float: left;
            width: 50%;
            padding: 24px 36px 0;
            border: none;

            &:first-of-type {
                border-right: 1px solid rgba(255, 255, 255, .36);
            }
        }

        &:last-of-type {
            border: none;
        }

        .testimonial-stars {
            font-size: 22px;
            margin-bottom: 12px;

            .disabled {
                opacity: .48;
            }
        }

        .testimonial-header {
            font-size: 24px;
            font-style: italic;
        }

        .testimonial-body {
            margin-top: 8px;
            line-height: 1.6;
        }

        .testimonial-author {
            margin-top: 12px;
        }
    }
}


section.beach {
    width: 100%;
    display: block;
    margin: 48px auto 0;
    padding: 12px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);

    .beach-caption {
        font-size: 31px;
        line-height: 1.2;
        color: $green;
        padding-left: 16px;
        white-space: nowrap;

        .beach-top {}

        .beach-med {
            text-indent: 28px;

        }

        .beach-med-italic {
            font-size: 37px;
            text-indent: 28px;
            font-style: italic;
        }

        .beach-bottom {
            text-indent: 92px;
            font-style: italic;
            font-size: 36px;
        }

        @media($tablet) {
            display: inline-block;
            width: 50%;
            zoom: 1.25;
            padding-left: 24px;
            box-sizing: border-box;
            white-space: nowrap;
        }
    }

    img.beach-img {
        width: 100%;
        display: block;

        @media($tablet) {
            float: right;
            width: 50%;
            margin-top:-36px;
        }
    }

    .beach-list {
        display: block;
        box-sizing: border-box;
        padding: 12px;
        line-height: 1.6;
        font-size: 16px;

        @media($tablet) {
            display: inline-block;
            width: 50%;
            margin-top: 36px;
        }

        .beach-list-item {
            display: block;
            box-sizing: border-box;
            padding: 12px;
            border-top: 1px solid rgba(0, 0, 0, .12);

            &:nth-of-type(1) {
                border: none;
                font-size: 18px;
                padding: 8px 20px;
                line-height: 1.8;
            }
        }
    }
}

section.slider {
    @extend %clearfix;
    background: rgba(0, 0, 0, .04);
    width: 100%;
    display: block;
    margin: 48px auto 0;
    padding: 24px 36px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .72);
    font-size: 16px;

    .slider-control-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        font-size: 48px;
        padding: 48px 48px 48px 0;
        cursor: pointer;
    }

    .slider-control-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        font-size: 48px;
        padding: 48px 0 48px 48px;
        cursor: pointer;
    }

    .slider-header {
        font-size: 37px;
        text-align: center;
        line-height: 1.2;
        color: $green;

        span {
            color: $green;
            font-weight: bold;
        }
    }

    .slider-icons {
        @extend %clearfix;
        max-width: 720px;
        margin: auto;
        .slider-icon {
            display: none;
            cursor: pointer;

            .slider-icon-caption {
                display: none
            }

            &.active {
                width: 100%;
                display: block;
                margin-top: 48px;

                img {
                    width: 112px;
                    display: block;
                    margin: 24px auto 0;
                }

                .slider-icon-caption {
                    display: block;
                    width: 100%;
                    font-size: 27px;
                    font-weight: bold;
                    text-align: center;
                    margin-top: 16px;
                    color: $green;
                }
            }

            @media($tablet) {
                width:33%;
                display: block;
                margin-top: 48px;
                float: left;
                opacity:.48;

                &.active {
                    width: 33%;
                    display: block;
                    margin-top: 48px;
                    float: left;
                    opacity: 1;

                    img {
                        width: 72px;
                        display: block;
                        margin: 16px auto 0;
                    }
                }

                img {
                    width: 72px;
                    display: block;
                    margin: 16px auto 0;
                }

                .slider-icon-caption {
                    display: block;
                    width: 100%;
                    font-size: 27px;
                    font-weight: bold;
                    text-align: center;
                    margin-top: 16px;
                    color: $green;
                }
            }
        }
    }

    .slider-copy {
        height: 136px;
        margin: 12px 0 24px;
        p {
            display: block;
            position: absolute;
            margin: 8px 0 24px;
            font-size: 19px;
            line-height: 1.6;
            text-align: center;
            opacity: 0;
            transition: all 200ms;
            color: rgba(0,0,0,.7);

            &.active {
                opacity: 1;
                transition: all 200ms;
            }

            @media ($tablet) {
                font-size: 27px;
                font-weight: 100;
                margin-top: 36px;
                width: 80%;
                left: 50%;
                margin-left: calc(-40%);
            }
        }
    }

}

section.sale {
    @extend %clearfix;

    display: block;
    box-sizing: border-box;
    padding: 56px 24px 56px;

    .sale-caption {
        margin-top: 36px;
        margin-bottom: 0px;

        @media($tablet) {
            display: inline-block;
            width: 40%;
        }
    }

    .sale-header {
        font-size: 31px;
        color: $green;
        line-height: 1.2;
        font-style: normal;

        //font-weight: bold;
        span {
            font-weight: normal;
            font-style: italic;
        }
    }

    .sale-subheader {
        font-size: 19px;
        color: rgba(0, 0, 0, .72);
    }

    img {
        width: 80%;
        max-width: 220px;
        display: block;
        margin-top: 24px;
        margin-left: calc(50% - 72px);
        margin-bottom: 24px;

        @media($tablet) {
            float: left;
            margin-right: 60px;
            margin-left: calc(50% - 268px);
            height: 236px;
            width: auto;
        }
    }

    .sale-regprice {
        font-size: 21px;
        color: rgba(0, 0, 0, .36);
        font-weight: bold;

        span {
            text-decoration: line-through;
        }
    }

    .sale-saleprice-caption {
        font-size: 31px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: .35px;
        color: rgba($green, .87);
        display: inline-block;
        margin: 4px 8px 0 0;
    }

    .sale-saleprice-price {
        font-size: 64px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: .35px;
        color: rgba($green, .87);
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;

        span {
            font-size: 32px;
            vertical-align: top;
            display: inline-block;
            margin-top: 6px;
            margin-left: 4px;
        }
    }

    .sale-cta {
        display: block;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        padding: 12px;
        background: #ff550b;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 27px;
        border-radius: 4px;
        margin: 24px auto;
        letter-spacing: .6px;

        @media($tablet) {
            width: 320px;
            margin-top: 24px;
            display: inline-block;
        }
    }
}

section.gaurantee {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 48px;
    box-sizing: border-box;
    color: white;
    background: rgba($green, .87);
    font-size: 16px;

    .gaurantee-small {
        @media($tablet) {
            font-size: 21px;
            line-height: 1.6;
            text-align: center;
        }
    }

    .gaurantee-large {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: bold;
        //text-decoration: underline

        @media($tablet) {
            font-size: 32px;
            text-align: center;
        }
    }
}
section.info {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 36px;
    box-sizing: border-box;
    color: rgba(0,0,0,.72);
    background: rgba(0,0,0, .04);

    .info-small {
            font-size: 12px;
            line-height: 1.6;
            text-align: left;
    }
}